/* Mona Sans: https://github.com/github/mona-sans */
@import url('https://cdn.staticdelivr.com/gh/github/mona-sans@latest/dist/webfont/mona-sans.css');
/* Space Mono: https://github.com/googlefonts/spacemono */
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Space+Mono:wght@400;700&display=swap');
